certifi==2022.12.7
charset-normalizer==3.0.1
decorator==5.1.1
idna==3.4
imageio==2.25.0
imutils==0.5.4
networkx==3.0
numpy==1.24.2
opencv-python==4.7.0.68
operator-courier==2.1.11
packaging==23.0
Pillow==9.4.0
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.2
scikit-image==0.19.3
scipy==1.10.0
semver==2.13.0
tifffile==2023.2.3
urllib3==1.26.14
validators==0.20.0
